div#coord {
	display: inline;
	float: left;
}

div#menu {
	display: inline;
	height: 20px;
	width: 174px;
	float: right;
}

#popup {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: auto;
	padding: 16px;
	background-color: white;
	z-index: 1002;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
}

div#popupMenu {
	display: inline;
	height: 20px;
	width: 28px;
	float: right;
}

div#popupTitle {
	display: block;
	height: 30px;
	width: 100%;
	border-bottom: 1px #808080;
    margin-bottom: 6px;
}

#appName {
	font-size: 20px;
	text-shadow: 1px 1px 2px #D3D3D3;
}

#inMsgData {
	width: 100%;
	overflow-y: scroll;
    height: 210px;
}

#popupFade {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #808080;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

.dataLine {
	display: flex;
	margin-bottom: 4px;
}

.divTextareaData {
	overflow: auto;
}

.textareaData {
	width: 100%;
	overflow-x: auto;
	overflow-y: scroll;
    height: 240px;
    white-space: pre;
}

.allLine {
	flex: 2;
}

.pointer-sqr {
	cursor: url('./pointer-sqr.cur') 10 4, pointer;
}

.dataLine {
	flex: 2;
}

.inputLabel {
	margin-right: 3px;
}

#view {
	width: 100%;
	height: 100%;
	display: none;
}

canvas {
	width: 100vw; 
	overflow: auto;
}

.grid {
	color: #F0F8FF;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 74px;
	height: 22px;
	top: 6px;
}

.switch input {
	display:none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #D3D3D3;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #D3D3D3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #D3D3D3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
}

.on {
	display: none;
}

.off {
	text-decoration: line-through;
}

.on, .off {
	color: #000000;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked+ .slider .on {
	display: block;
}

input:checked + .slider .off {
	display: none;
}

/* Rounded sliders */
.slider.round {
	border-radius: 20px;
}

.slider.round:before {
	border-radius: 50%;
}

.datetime {
	width: 148px;
}